.alumni-profile{
    /* height: 40vh; */
    /* border: 2px solid red; */
    /* flex: 0 1 16em; */
    position: relative;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    border: 1px solid #bfc7cc;
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
}
   
.alumni-profile-image{
    margin-bottom: 0.5em;
    aspect-ratio: 1.5;
}
.alumni-profile-image img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.alumni-profile-text > *{
    margin-bottom: 0.3em;
    padding:0 0.5em ;
}
.alumni-description{
    font-size: 0.85em;
}
.alumni-name{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
.msg-button{
    /* position: absolute;
    top: 50%;
    right: 1%; */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding:0.3em;
    border: 2px solid var(--primary-green) !important;
    aspect-ratio: 1;
    transform: translateY(-80%);
    background: var(--primary-green-100) !important;
    color: var(--primary-green) !important;
}
.msg-button i{
    font-size: 10px;
}
.add-button{
    width: 95%;
    margin: 0.5em auto;
    /* display: block; */
    justify-content: center;
}

@media (max-width:820px) {
    .alumni-profile{
        flex: 1 1 13em;
        font-size: 0.9rem;
    }
}

@media (max-width: 675px) {
    .alumni-profile{
        flex: 1 1 11em;
        font-size: 0.9rem;
    }
    .alumni-description {

    }
}

@media (max-width: 370px) {
    .alumni-profile{
        /* width: 100%; */
    }
}