.applicant-card{
    position: relative;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    border: 1.5px solid #bfc7cc;
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
    text-align: center;
    padding-bottom: 50px;
}
.applicant-profile-image{
    margin-top:0.25em;
    margin-bottom: 0.25em;
    aspect-ratio: 1.5;
    max-height: 20px;
    width: 100%;
}
.applicant-profile-image img{
    width: 40%;
    object-fit: cover;
    border-radius:50%;
    aspect-ratio: 1;
}
.applicant-details > *{
    margin-bottom: 0.3em;
    padding:0 0.5em ;
}
.applicant-data{
    font-size: 0.95em;
    text-align: left;
}
.applicant-card ul{
    list-style: none;
}
.applicant-card svg{
    vertical-align: middle;
}
.applicant-name{
    justify-content: space-between;
    font-size: 0.9em;
}
.view-button{
    display:block;
    text-align: center;
    width: 95%;
    margin: 0.5em 0.5em;
    position:absolute;
    bottom:0;
}
.view-button svg{
    vertical-align: middle;
}

@media (max-width:820px) {
    .applicant-card{
        flex: 1 1 13em;
        font-size: 0.98rem;
    }
}

@media (max-width: 675px) {
    .applicant-card{
        flex: 1 1 11em;
        font-size: 0.98rem;
    }
}

@media (max-width: 370px) {
}