.job-details{
    animation: appear 300ms ease;
}
.job-details .title{
    text-align: center;
    color: var(--primary-blue);
}
.job-detail-top{
    height: 25vh;
    width: 100%;
    background: var(--primary-green);
}
.job-detail-bottom{
    width:90%;
    max-width: 800px;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* height: 80vh; */
    transform:translateY(-10%);
    background-color: #fff;
    padding: 1.5em ;
}
.job-detail-bottom h4{
    color: var(--primary-blue);
}
.job-detail-bottom .icon{
    color: var(--primary-blue);
}
.basic,.description,.about,.share-job,.postedby,.contact ,.apply{
    border-bottom: #bbb solid 1px;
    margin: 1em auto;
    padding-bottom: 1em;
}

.section-title{
    display: flex;
    align-items: center;
    font-size: 1.05rem;
}
.basic-details,
.description-detail,
.apply-details,
.postedby-details,
.share-details,
.contact-details,
.apply-details,
.about-details{
    padding-left: 1.5em;
    margin-top: 0.5em;
}

.basic-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: green solid 2px; */
    gap: 1em;
}


.basic-detail span{
    display: block;
}
.basic-detail-key,
.description-detail-key{
    font-weight: 700;
}
.basic-detail-value,
.description-detail-value{
    color: #555;
}
.share-job{
    
    /* display: block; */
}
.share-details{
    
}

.postedby-details{
    /* border: #000000 solid 2px; */
    display: flex;
    align-items: center;
}
.postedby-details span{
    display: block;
}
.postedby-profile-picture{
    margin-top: 1em;
}
.postedby-profile-picture img{
    width: 40px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1em;
    border: 3px solid #3db166;

}
.postedby-name{
    font-weight: 600;
}
.apply-btn{
    display: block;
    margin: 1em auto;
    padding: 0.5em 4em;
}

@media (max-width: 450px) {
    .basic-details{
        grid-template-columns: 1fr;
    }
    
}
