.home {
    height: 100vh;
    /* border: 2px solid red; */
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
}

.home>div {
    scroll-snap-align: start;
    height: 100vh;
}

.intro {
    display: flex;
    /* border: 2px solid red; */
    padding-inline: 2em;
    padding-top: 1em;
    background: url('./liquid-cheese.svg') no-repeat;
    background-size: cover;
    height: 91vh;

}

.intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.2;
    /* border: 2px solid blue; */
    flex-direction: column;

}

.intro-text h2 {
    font-size: 2.8rem;
    /* border: 2px solid red; */
    max-width: 500px;
    text-align: center;
}

.explore-btn {
    font-size: 1.1rem;
}

.intro-image {
    flex: 1;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    animation: rotate-img 1000ms ease 100ms;
    max-width: 650px;
}

.intro-image img {
    width: 90%;
}

.carousel {
    width: 100%;
    height: 80vh;
    position: relative;

}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    width: 100%;
    /* border: 2px solid red; */
    /* filter: brightness(60%); */
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-position: top; */
    background: var(--primary-clr);
}

.ArrowBack,
.ArrowForward {
    position: absolute;
    background: none;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background: #888;
    border-radius: 10px;
    color: var(--primary-bg);
    cursor: pointer;
    /* border: 2px solid red; */
    font-size: 2rem !important;
}

.about {
    display: flex;

}

.about>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right {
    flex: 1.5;

}

.about-left {

    /* border: solid 2px red ; */
}

.about-left>img {
    width: 100%;
    max-width: 200px;
}

.events-section {
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
}

.events-section-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.latest-events {
    margin: auto;
    /* height: 40vh; */
    /* border: 2px solid red; */
}

.latest-event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest-events img {
    border-radius: 10px;
    background: var(--primary-grey-100);
    object-fit: contain;
    display: block;
    width: 100%;
    aspect-ratio: 2/1.2;
}

.latest-event {
    width: 100%;
    margin-bottom: 2em;
    /* border: 2px solid red; */
}

.latest-event>span {
    font-size: 0.9em;
}

.home a {
    font-size: 1em;
    text-decoration: none;
    display: block;
}

@media (max-width: 765px) {
    .carousel {
        height: 50vw;
    }
}

@keyframes rotate-img {
    0% {
        transform: scale(0.7);
        rotate: 60deg;
    }

    100% {
        transform: scale(1);
        rotate: 0deg;
    }
}