.home{
    height: 200vh;
    /* border: 2px solid red; */
}

.carousel{
    width: 100%;
    height: 80vh;
    position: relative;
    
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    width: 100%;
    /* border: 2px solid red; */
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-position: top; */
    background: var(--primary-clr);
}

.ArrowBack, .ArrowForward {
    position: absolute;
    background: none;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background: #888;
    border-radius: 10px;
    color: var(--primary-bg);
    cursor: pointer;
    /* border: 2px solid red; */
    font-size: 2rem !important;
}
.about{
    display: flex;

}
.about >*{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-right{
    flex: 1.5;

}
.about-left{
    
    /* border: solid 2px red ; */
}
.about-left> img{
    width: 100%;
    max-width: 200px;
}
.events-section{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
}
.events-section-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.latest-events{
    margin: auto;
    /* height: 40vh; */
    /* border: 2px solid red; */
}

.latest-event-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.latest-events img{
    border-radius: 10px;
    background: var(--primary-grey-100);
    object-fit: contain;
    display: block;
    width: 100%;
    aspect-ratio: 2/1.2;
}
.latest-event{
    width: 100%;
    margin-bottom: 2em;
    /* border: 2px solid red; */
}
.latest-event > span{
    font-size: 0.9em;
}
.home a{
    font-size: 1em;
    text-decoration: none;
    display: block;
}
@media (max-width: 765px) {
    .carousel{
        height: 50vw;
    }
}