.event{
    /* min-height: 30vh; */
    /* display: flex; */
    padding: 1em;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    border: 1px solid #bfc7cc;
    margin: 1.5em auto;
    background: var(--primary-bg);
    border-radius: 5px;
    animation: appear 300ms ease;
}
/**Event top**/
.event-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em ;
}
.event-top-left,.event-top-right{
    display: flex;
    align-items: center;
}
.event-top-left{
    display: flex;
    align-items: center;
}
.post-date{
    font-size: 0.8rem;
}
.event-profile-image{
    width: 32px !important;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 0.5em;
    object-fit: cover;
    min-width: 32px;
}
.event-username{
    display: flex;
    align-items: center;
    display: inline-block;
}
.event-username:hover{
    text-decoration: underline;
}
.user-type{
    font-size: 0.8rem;
    color: #555;
    margin-left: 0.5em;
}
/**Event bottom**/
.event-bottom{
    display: flex;
    gap: 0 1em;
}
.event-image-container{
    flex: 0.8;
    display: flex;
    align-items: center;
    /* border: 2px  solid red; */
}
.event-image{
    display: block;
    width: 100%;
    object-fit: contain;
    max-height: 35vh;
    background: var(--primary-grey-200);
    min-height: 30vh;
    /* border: 2px  solid red; */
}
.event-info{
    flex: 1;
    /* border: 2px solid red; */
    /* display: flex; */
    /* align-items: center; */
}
.event-title{
    display: block;
    font-weight: 600;
    font-size: 1.05rem;
    margin-bottom: 0.5em;
    color: var(--primary-clr) !important;
}
.event-title:hover{
    text-decoration: underline 1.5px;
}
.event-description{
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.event-date,.event-location{
    display: flex;
    align-items: center;
    margin-top: 0.8em;
    font-weight: 400;
    font-size: 0.8rem;
    color: #444;
}

.view-btn{
    /* border: 2px solid black; */
    margin-top: 1.5em;
    margin-left: auto;
    display: block;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 600px) {
    .event-bottom{
        flex-direction: column-reverse;
        gap: 0.5em 0;
    }
    .event-details{
        font-size: 0.8rem;
    }
    .event-title{
        font-size: 0.95rem;
    }
}