.pending-applications{
    width: 90%;
    max-width: 1240px;
    min-height: 100vh;
    max-height: max-content;
    margin: 2em auto;
    display: flex;
    gap: 0 1em;
    animation: appear 300ms ease-in-out;
}
.applicant-cards{
    flex:3 1;
    height:fit-content;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em 0;
    gap:1em;
}
@media (max-width:1250px) {
    .admin-dash{
        width:95%;
    }
    .applicant-cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 720px) {
    .pending-applications{
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .pending-applications{
        margin:0.5em 0.1em;
        width:99%;
    }
    .applicant-cards{
        margin:0.5em 0em;
        grid-template-columns: 1fr;
    }
}