/* body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--clr);
    background-image: linear-gradient(to right bottom, #6c63ff, #5f5bd3, #5551a8, #4a477e, #3f3d56);
    font-size: 1em;
} */


/*****************************/
/**********MAIN DIV***********/
.login{
    border: 0.1px solid var(--primary-grey-100);
    min-height: 100vh;
    /* background-image: linear-gradient(to right bottom, #6c63ff, #5f5bd3, #5551a8, #4a477e, #3f3d56); */
    background: var(--primary-grey-100);
}
.sign-in{
    width: 85%;
    max-width: 1000px;
    min-width: 340px;
    min-height: 60vh;
    max-height: max-content;
    margin: 3em auto;
    /* border: 2px solid green; */
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    border-radius: 8px;
    /* padding: 1em; */
}
.sign-in a{
    text-decoration: none;
    color: #0077ff;
}
.side-img{
    flex: 1;
}
.login .form-div{
    flex: 1.3;
}
.side-img, .form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.image1{
    width: 400px;
    display: inline-block;
}

/**********************************/
/**************FORM****************/

.form {
    /* border: 2px solid green; */
    min-height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.form > div{
    width: 90%;
    margin: 0.4em 0;
    /* border: 2px solid green; */
}
.form-div h2{
    margin: 0.5em auto;
}

.form input, .form select{
    display: inline-block;
    padding: 0.8em 0.8em;
    width: 95%;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: transform 150ms linear;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: 400;
    background: inherit;
}

.form input:focus{
    outline: none;
    transform: scaleX(1.02);
}
.form label {
    text-align: left;
    align-self: flex-start;
    font-size: 0.8em;
    display: block;
}
.name{
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid green; */
    gap: 0 0.5em;
}

.name div {
    width: 47%;
    margin-right: 0.8em;
}

#error{
    color: red;
    width: 90%;
    margin: auto;
    font-size: 0.7em;
    padding: 0 1em;
}

#submit{
    margin: 1em 0;
    display: block;
    width: 95%;
    cursor: pointer;
    text-align: center;
    padding: 1em;
}


/************************************/
/***********MEDIA QUERIES************/

@media (max-width: 950px) {
    .image1 {
        width: 300px;
    }
    
}

@media (max-width: 765px) {
    .login{
        min-height: 70vh;
    }
    .image1 {
        width: 180px;
    }
    .sign-in{
        flex-direction: column;
        font-size: 0.95rem;
    }
    .sign-in input, .sign-in select, .sign-in option{
        font-size: 0.8rem;
    }
    .form{
        width: 100%;
    }
}
