.App {
    background: #f5f5f5;
}
.btn{
    background: 0;
    border: 0;
    cursor: pointer;
    transition: transform 50ms ease-in-out;
    font-size: 0.75em;
}
.btn:active{
    transform: scale(0.97);
}
.icon{
    margin-right: 0.3em;
}
@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}