:root{
    --primary-bg: #fff;
    --primary-clr: #192f59;
    --primary-blue: #192f59;
    --primary-green: #3db166;
    --primary-grey: #F5F5F5;
    --primary-red: #dc3545;
    
    --primary-btn-bg: #2b4d8a;
    --primary-btn-bg-hover: #192f59;
    --secondary-btn-bg: #8d8d8d;
    --secondary-btn-bg-hover: #5c5c5c;
    --danger-btn-bg:#d9534f;
    --danger-btn-bg-hover:#c9302c;
    --green-btn-bg: #3db166;
    --green-btn-bg-hover: #268146;

}
.App {
    background: var(--primary-grey);
    width: 100%;
}
button{
    cursor: pointer;
    background: 0;
    border: 0;
}
.btn{
    cursor: pointer;
    transition: transform 50ms ease-in-out, background 200ms ease-in-out;
    font-size: 0.8em;
    padding: 0.4em 1em;
    font-weight: 500;
    border-radius: 4px;
}
.btn:active{
    transform: scale(0.97);
}
/* .btn-primary{
    background: #178fff !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn-primary:hover {
    background: #0066ff;
} */
.btn-primary{
    background: var(--primary-btn-bg);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn-primary:hover {
    background: var(--primary-btn-bg-hover);
}

.btn-secondary{
    background: var(--secondary-btn-bg);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn-secondary:hover {
    background: var(--secondary-btn-bg-hover);
}
.btn-danger{
    background: var(--danger-btn-bg);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn-danger:hover {
    background: var(--danger-btn-bg-hover);
}
.btn-green{
    background: var(--green-btn-bg);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn-green:hover {
    background: var(--green-btn-bg-hover);
}


.icon{
    margin-right: 0.3em;
    /* width: 10px !important; */
    font-size: 20px !important;
}
.pipe{
    margin: 0 0.3em;
    color: #999;
}
@keyframes appear {
    0% {opacity: 0; transform: translateY(-0.5%);}
    100% {opacity: 1; transform: translateY(0%);}
}